{% extends "layout.html" %}
{% block title %} JY page {% endblock %}
{% block body %} 
<h1> 메인페이지 </h1>
<a href="/myrandom" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">한끼 메뉴 추천</a>
<a href="/lunch" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">학원 근처 점심 식당 추천</a>
<a href="/lunch" class="btn btn-info btn-sm active" role="button" aria-pressed="true">점심 메뉴 추천</a>
<a href="/christmas" class="btn btn-success btn-sm active" role="button" aria-pressed="true">크리스마스일까?</a>
{% endblock %}